
.normal{
	
}
.button{
	padding-left:10px; 
	padding-right:10px; 
	height: 20px;  
	line-height: 20px;  
	color: #4B4A4B;  
	text-decoration: none;  
	font-size: 11px;  
	font-family: helvetica, arial;  
	font-weight: bold;  
	display: block;  
	text-align: center;  
	margin-right:4px;
	margin-bottom:4px;
	float:left;
	background: #D8D8D8;  
	
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;
	
}
#main{
	width:400px;
	height:200px;
	background: #4B4A4B;  
	margin:0px;
	padding:5px;
}
  
.pressed{
	background: #E04298;  
	color:#FFFFFF;
}